/* STRUCTURATION DU FICHIER STYLE.css */
/* initialisation de la page */
/* initialisation des éléments du DOM */
/* Creation des styles pour l'entête */
/* Création des styles pour la zone de recherche */
/* Création des styles AFFICHAGE DES FILMS Movies Grid */
/* Création des styles pour PAGE DESCRIPTION */
/* Création des styles pour le carousel*/
/* création des styles pour le résultat de recherche*/

/* ======= INITIALISATION DE LA PAGE ============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================MISE EN FORME CORPS DE PAGE =============*/
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  height: 100vh;
}

h1 {
  color: white !important;
  display: none;
}

h2 {
  font-size: 1rem !important;
}

/* ============== STYLES POUR l'ENTETE ====================*/
.navbar {
  background-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-bottom: 1.5vh !important;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: 500;
}

.navbar-nav .nav-link.active {
  color: #007bff;
}

.idlogo {
  height: 60px;
}

/* ================= ELEMEMENTS ZONE RECHERCHE ==============================*/
.search-section {
  padding-top: 2vh !important;
  height: 50vh;
  background-size: cover;
  z-index: -1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  width: 60vh;
  display: flex;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#loupe {
  width: 25px;
  height: 25px;
  /* border-radius: 32px; */
}

#searchButton {
  position: relative;
  border: none;
  border-radius: 16px;
  padding: 1vh;
  background-color: white;
}

.form-control {
  border-radius: 16px !important;
  border: none !important;
  background-color: white !important;
}

.form-control:focus {
  border-color: white !important;
  box-shadow: 0 0 0 !important;
}

/* Modification de l'arrière plan de la zone recherche pour adapter l'image à l'écran */
@media only screen and (max-width: 560px) {
  .search-section {
    margin-top: 10vh;
  }
}

/*============= AFFICHAGE DES FILMS Movies Grid ============== */
.movie-card {
  padding-top: 3vh;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 50%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-card h5 {
  color: #333;
  text-align: left;
  font-weight: 500;
}

/* Footer */
footer {
  background-color: #ffffff;
  color: #666;
  border-top: 1px solid #eee;
  padding: 1rem 0;
}

footer p {
  margin: 0;
  padding: 0.5rem 0;
}

/* ================ PAGE DESCRIPTION ====================*/

.description-section-page,
.description-section {
  padding-top: 10vh;
}

.synopsis {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40 px;
  text-align: justify;
  padding-right: 1vh;
}

.fd_paragraphe {
  background-color: rgba(163, 154, 154, 0.7);
}

.affiche_et_acteur {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40 px;
  text-align: justify;
  background-color: rgba(215, 233, 226, 0.7);
  padding-right: 1vh;
}

.movies-section {
  padding-top: 50vh;
}

.pourfloat {
  float: left;
  padding-right: 3vh;
}

.size_poster {
  width: 200px;
  /* padding-bottom: 3vh; */
}

.fond_description {
  padding-top: 3vh;
  margin-bottom: 3vh;
  background-color: rgba(108, 148, 235, 0.7);
  background-blend-mode: lighten;
  background-size: cover !important;
}

/* Pour acteurs */
.vignette {
  position: relative;
  min-width: 138px !important;
  min-height: 175px !important;
  max-width: 138px !important;
  max-height: 175px !important;
  border: 1px black solid ;
}

.cast-member{
  min-width: 150px !important;
  min-height: 175px !important;
  border: black 2px solid;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
}

.acteurs {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
  gap: 1rem !important;
}

.titre_de_listes {
  margin-top: 3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh !important;
}
.movie-description {
  text-align: center;
}

/*============ CAROUSEL PAGE ACCEUIL ====================*/

.car-img {
  width: 150px;
  border-radius: 15px;

}
.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}
.card_carousel {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: 0.5vh;
}

.carousel-track {
  display: flex !important;
  width: max-content;
  padding-top: 1vh;
  animation: scroll 50s linear infinite;
}
.card_carousel:hover {
  transform: translateY(-5px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ============== AFFICHAGE RESULTAT RECHERCHE ===========*/
#searchResults {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
}

.img_resultat_search {
  width: 150px;
  height: auto;
}

.titre_film_recherche {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh !important;
}
.elt_resultat {
  border-radius: 20px;
  border: solid 0.5vh;
}
